.popup__username {
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
  margin: 0 0 30px 0;
  padding: 1px 2px 13px 2px;
}

.popup__username:focus {outline: none;}
.popup__username::-moz-focus-inner {border: 0;}
