.popup__userabout {
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  width: 100%;
  padding: 1px 2px 13px 2px;
}

.popup__userabout:focus {outline: none;}
.popup__userabout::-moz-focus-inner {border: 0;}
